<div class="content" id="trend_analysis">
    <div class="guidepost">
        <i class="fa fa-map-marker"></i>
        <span>软采分析 > 弱覆盖区域趋势分析</span>
    </div>
    <div class="query-panel">
        <div class="head">
            <div class="title">
                <div class="text"><span>新建查询</span></div>
                <div class="right-triangle"></div>
            </div>
        </div>
        <div id="poor-trend-body" class="collapse poor-trend-body show">
            <div class="inline-form-group">
                <div class="select-date">
                    <label class="col-form-label flex-center">日期：</label>
                    <div class="form-items">
                        <input class="btn btn-outline-info selDate Wwidth170" type="text" placeholder="请选择时间"
                               ng-model="selDate" style="text-align:left;color:#464a4c;">
                    </div>
                </div>
                <div class="select-time">
                    <label class="col-form-label flex-center">时段：</label>
                    <select name="" id="" class="form-control" ng-model="timeSlot">
                        <option value="" disabled selected style="display:none;">请选择时段</option>
                        <option value="00">00:00—01:00</option>
                        <option value="01">01:00—02:00</option>
                        <option value="02">02:00—03:00</option>
                        <option value="03">03:00—04:00</option>
                        <option value="04">04:00—05:00</option>
                        <option value="05">05:00—06:00</option>
                        <option value="06">06:00—07:00</option>
                        <option value="07">07:00—08:00</option>
                        <option value="08">08:00—09:00</option>
                        <option value="09">09:00—10:00</option>
                        <option value="10">10:00—11:00</option>
                        <option value="11">11:00—12:00</option>
                        <option value="12">12:00—13:00</option>
                        <option value="13">13:00—14:00</option>
                        <option value="14">14:00—15:00</option>
                        <option value="15">15:00—16:00</option>
                        <option value="16">16:00—17:00</option>
                        <option value="17">17:00—18:00</option>
                        <option value="18">18:00—19:00</option>
                        <option value="19">19:00—20:00</option>
                        <option value="21">21:00—22:00</option>
                        <option value="22">22:00—23:00</option>
                        <option value="23">23:00—24:00</option>
                    </select>
                </div>
                <button id="toPoorAreaTrendAnalysis" type="button" class="btn btn-info inquire"
                        ng-click="toPoorAreaTrendAnalysis()">查询
                </button>
            </div>
            <!--<div>{{selDate}}{{timeSlot}}{{selArea}}</div>-->
        </div>
        <div class="footer"></div>
    </div>
    <div class="trend_analysis">
        <p class="Networktitle">
            <span>弱覆盖区域趋势分析 > 当前查询：</span>
            <label ng-bind="queryStatusMessage"></label>
            <input type="button" value="保存表格" class="Savetheform btn-outline-info" ng-click="exportTrendToCsv()"
                   style="margin-right: 50px;display:none;">
        </p>
        <div class="table_trend_analysis"><!--ng-show="mapGisAnalysis"-->
            <div class="table_show" ng-if="tableAnalysis">
                <div id="trend_analysis_statistics" ui-grid="trendGridOptions" class="grid"
                     ui-grid-pinning
                     ui-grid-exporter
                     ui-grid-resize-columns
                >
                </div>
            </div>
        </div>
        <div class="chartBoxes">
            <ul style="overflow:hidden">
                <li id="histogramBox" class="histogramBox">
                    <div class="chartTitle" ng-show="pageSelect === 1">环比趋势分析</div>
                    <div id="histogramChart" ng-show="pageSelect === 2"></div>
                </li>
                <li id="lineBox" class="lineBox">
                    <div class="chartTitle" ng-show="pageSelect === 1">同比趋势分析</div>
                    <div id="lineChart" ng-show="pageSelect === 2"></div>
                </li>
            </ul>
            <div class="tab-content">
                <div id="samePeriodChart"
                     class="tab-pane fade show active network-indicator-detail-chart"></div>
                <div id="chainPeriodChart" class="tab-pane fade network-indicator-detail-chart"></div>
            </div>
        </div>
    </div>
</div>
